:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #14a5e8;
  --secondary-color: #f5f2fe;
  --tertiary-color: rgb(7, 99, 184);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h1,
h2,
h3 {
  margin: 0;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  color: black;
  line-height: 1.5;
}

body {
  margin-top: 100px;
  font-family: var(--default-font-family);
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

.navbar-white {
  background-color: var(--secondary-color);
  height: 120px;
}

.navbar-brand {
  width: 250px;
  height: 250px;
  padding: 0;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.hero {
  background: var(--tertiary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 48px;
  line-height: 1.5;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border: 1px solid white;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.project-description {
  padding: 120px 60px;
}

.btn-branding-outline {
  border-radius: 4px;
  border: 1px solid var(--tertiary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--tertiary-color);
}

.footer {
  color: var(--primary-color);
  background: var(--tertiary-color);
}

footer .social-links a {
  margin: 0 1.5px;
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: antiquewhite;
  background: var(--tertiary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }

  .hero {
    background: var(--tertiary-color);
    text-align: center;
    padding: 80px 20px;
  }

  .about-paragraphs {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
